* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
}

main {
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.tela {
    margin: auto auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 550px;
    background-color: #FB6B6B;
    overflow-y: scroll;
    overflow: hidden;
    margin-bottom: 40px;
}

.raio {
    padding-top: 90px;
    width: 55px;
}

h1 {
    width: 130px;
    height: 35px;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Righteous';
    font-weight: 400;
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 230px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #D70900;
    border-radius: 5px;
    color: #D70900;
    font-family: recursive;
    margin-top: 75px;
}


/*Tela Jogo*/

.topoJogo {
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 30px;
}

span {
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Righteous';
    font-weight: 400;
    color: white;
}

.fundo {
    height: 70px;
    width: 375px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.fundo p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: white;
    margin-top: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px
}

.card1 ion-icon {
    margin-right: 12px;
}

.card1 p {
    margin-left: 6px;
    font-family: 'Recursive';
    font-size: 12px;
}

.Card2 {
    width: 300px;
    height: 80px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    position: relative;
}

p.questions {
    font: 12px;
    margin-top: 5px;
    margin-left: 6px;
    font-family: 'Recursive';
}

.click {
    display: flex;
    position: absolute;
    width: 20px;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 8px;
}

.Card3 {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
    height: 60px;
    background-color: #FFFFD4;
}

.answer {
    font: 12px;
    margin-top: 5px;
    margin-left: 6px;
    font-family: 'Recursive';
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.box {
    width: 55px;
    height: 24px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.box:first-of-type {
    background-color: #FF3030;
}

.box:last-of-type {
    background-color: #2FBE34;
}

.box:nth-child(2) {
    background-color: #FF922E;
}

.Card3 .boxes .box p{
    font-size: 7px;
    font-family: 'Recursive';
    margin: auto auto;
    color: white;
}

.red {
    text-decoration: line-through #FF3030;
    color: #FF3030;
}

.yellow {
    text-decoration: line-through #FF922E;
    color: #FF922E;
}

.green {
    text-decoration: line-through #2FBE34;
    color: #2FBE34;
}