* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    width: 100%;
    margin: auto auto;
}

main {
    width: 100%;
    height: 100%;
    margin: auto auto;
}

/* TELA INÍCIO */

.tela {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FB6B6B;
    overflow: hidden;
    overflow-y: scroll;
}

.tela img:first-child {
    padding-top: 148px ;
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    width: 130px;
    height: 35px;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Righteous';
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    height: 50px;
    width: 230px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #D70900;
    border-radius: 5px;
    color: #D70900;
    font-family: recursive;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
}

/*Tela Jogo*/

/* TOPO */

.topoJogo {
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
    justify-content: center;
    top: 0;
    z-index: 1;
}

.topoJogo img {
    width: 45px;
    margin-top: -145px;
}

span {
    margin-left: 8px;
    font-size: 36px;
    font-family: 'Righteous';
    font-weight: 400;
    color: white;
    z-index: 10;
}

/*CARD 1*/

.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card1:last-child {
    margin-bottom: 100px;
}

.Card2:last-child {
    margin-bottom: 100px;
}

.Card3:last-child {
    margin-bottom: 100px;
}

.card1 ion-icon {
    margin-right: 12px;
}

.card1 p {
    margin-left: 6px;
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #333333;
}

/*CARD 2*/

.Card2 {
    width: 300px;
    height: 80px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    position: relative;
}

p.questions {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.click {
    display: flex;
    position: absolute;
    width: 20px;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 8px;
}

/*CARD 3*/

.Card3 {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    width: 300px;
    height: 100px;
    background-color: #FFFFD4;
}

.answer {
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    margin-left: 15px;
    font-family: 'Recursive';
    color: #333333;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    padding-bottom: 20px;
}

.box {
    width: 87px;
    height: 37px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.box:first-of-type {
    background-color: #FF3030;
}

.box:last-of-type {
    background-color: #2FBE34;
}

.box:nth-child(2) {
    background-color: #FF922E;
}

.Card3 .boxes .box p{
    font-size: 12px;
    font-family: 'Recursive';
    display: flex;
    align-items: center;
    color: white;
    margin: auto auto;
}

/* CARD 4 */

.card1.red p {
    text-decoration: line-through #FF3030;
    color: #FF3030;
}

.card1.yellow p {
    text-decoration: line-through #FF922E;
    color: #FF922E;
}

.card1.green p {
    text-decoration: line-through #2FBE34;
    color: #2FBE34;
}

/* FOOTER/RESULTADO */

.fundo {
    width: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.fundo .contador {
    margin-top: 13px;
    margin-bottom: 10px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.fundo-icons {
    display: flex;
    justify-content: center;
    margin-top: -4px;
    margin-bottom: 10px;
}

.caixa-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caixa-mensagem p:last-of-type {
    font-family: 'Recursive';
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 15px;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    margin-top: 16px;
}

.caixa .foto-caixa {
   margin-top: -147px;
}

.caixa p {
    margin-left: 13px;
    font-family: 'Recursive';
    font-size: 18px;
    line-height: 22px;
}

/* DESKTOP MEDIA-QUERY */

@media screen and (min-width: 450px) {

    h1 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    button {
        height: 65px;
        width: 300px;
        font-size: 20px;
    }

    .topoJogo {
        margin-bottom: 40px;
    }

   span {
       font-size: 60px;
   }

   .topoJogo img {
       width: 65px;
   }

   .card1 {
       width: 567px;
       height: 91px;
       margin-top: 16px;
   }

   .card1 p {
       font-size: 24px;
       margin-left: 24px;
   }

   .card1 ion-icon {
       font-size: 31px;
       margin-right: 21px;
   }

   .Card2 {
    width: 567px;
    height: 100px;
    margin-top: 16px;
   }

    .Card2 p {
    font-size: 24px;
    margin-left: 24px;
    }

    .click {
        width: 21px;
        margin-right: 31px;
        margin-bottom: 12px;
    }

    .Card3 {
        width: 567px;
        height: 120px;
        margin-top: 16px;
    }
    
    .Card3 p {
        font-size: 24px;
        margin-left: 24px;
    }

    .card1:last-child {
        margin-bottom: 130px;
    }
    
    .Card2:last-child {
        margin-bottom: 130px;
    }
    
    .Card3:last-child {
        margin-bottom: 130px;
    }

    .box {
        width: 160px;
        height: 50px;
    }

    .Card3 .boxes .box p{
        font-size: 18px;
    }
    
    .fundo {
        width: 100%;
    }

    .fundo .contador {
        padding-top: 17px;
        margin-bottom: 30px;
        font-size: 26px;
        font-family: 'Recursive';
        font-weight: 400;
        line-height: 22px;
        color: #333333;
    }

    .fundo-icons {
        display: flex;
        justify-content: center;
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 31px;
    }

    .caixa-mensagem p:last-of-type {
        font-family: 'Recursive';
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 29px;
        margin-top: 40px;
    }

    .caixa p {
        margin-left: 13px;
        font-family: 'Recursive';
        font-size: 30px;
        line-height: 22px;
    }

    .caixa .foto-caixa {
        margin-top: -112px;
        width: 32px;
     }
}